nodered_flow
[{"id":"78dacb5a.4301e4","type":"tab","label":"LED Test","disabled":false,"info":""},{"id":"5dc763e7.027f9c","type":"server-state-changed","z":"78dacb5a.4301e4","name":"effect","server":"a78319c4.566888","version":1,"entityidfilter":"input_select.ledeffectlist","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":60,"y":80,"wires":[["3ef336fe.86f59a"]]},{"id":"1c258770.726729","type":"mqtt out","z":"78dacb5a.4301e4","name":"","topic":"wled/d1/api","qos":"0","retain":"","broker":"48e274c.1606f8c","x":770,"y":120,"wires":[]},{"id":"34593c14.52d414","type":"server-state-changed","z":"78dacb5a.4301e4","name":"speed","server":"a78319c4.566888","version":1,"entityidfilter":"input_number.ledspeed","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":70,"y":140,"wires":[["77ab03db.05392c"]]},{"id":"77ab03db.05392c","type":"template","z":"78dacb5a.4301e4","name":"Speed","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SX={{payload}}","output":"str","x":250,"y":140,"wires":[["1c258770.726729","2f57249a.d8491c"]]},{"id":"83a83e01.8a9e","type":"server-state-changed","z":"78dacb5a.4301e4","name":"intensity","server":"a78319c4.566888","version":"1","entityidfilter":"input_number.ledintensity","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":80,"y":220,"wires":[["300fa9af.3475c6"]]},{"id":"300fa9af.3475c6","type":"template","z":"78dacb5a.4301e4","name":"Intensity","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"IX={{payload}}","output":"str","x":260,"y":220,"wires":[["1c258770.726729"]]},{"id":"d85eac0.4ae2958","type":"server-state-changed","z":"78dacb5a.4301e4","name":"brightness","server":"a78319c4.566888","version":1,"entityidfilter":"input_select.ledpaletttelist","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":680,"y":620,"wires":[[]]},{"id":"8f22a1b.66aad6","type":"template","z":"78dacb5a.4301e4","name":"Palette","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"FP={{payload}}","output":"str","x":670,"y":580,"wires":[[]]},{"id":"3ef336fe.86f59a","type":"change","z":"78dacb5a.4301e4","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"Colorloop","fromt":"str","to":"8","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"Rainbow","fromt":"str","to":"9","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"Saw","fromt":"str","to":"16","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"Sparkle","fromt":"str","to":"20","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"Rain","fromt":"str","to":"43","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"Palette","fromt":"str","to":"65","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"Noise3","fromt":"str","to":"72","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"Lake","fromt":"str","to":"75","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":80,"wires":[[]]},{"id":"8ccf2029.934ee","type":"mqtt in","z":"78dacb5a.4301e4","name":"","topic":"wled/d1/v","qos":"2","datatype":"auto","broker":"48e274c.1606f8c","x":160,"y":840,"wires":[["5029b9f9.e1e898","da8eab61.828438"]]},{"id":"da8eab61.828438","type":"debug","z":"78dacb5a.4301e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":820,"wires":[]},{"id":"5029b9f9.e1e898","type":"xml","z":"78dacb5a.4301e4","name":"","property":"payload","attr":"","chr":"","x":270,"y":760,"wires":[["5dbbd144.470ce","88cf8e9a.dc34c"]]},{"id":"5dbbd144.470ce","type":"change","z":"78dacb5a.4301e4","name":"Speed","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.vs.sx[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":820,"wires":[["c222bf0b.a3a88"]]},{"id":"88cf8e9a.dc34c","type":"change","z":"78dacb5a.4301e4","name":"Intensity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.vs.ix[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":880,"wires":[["78b2a22a.4c5bec"]]},{"id":"c222bf0b.a3a88","type":"api-call-service","z":"78dacb5a.4301e4","name":"speed","server":"a78319c4.566888","version":"1","service_domain":"input_number","service":"set_value","entityId":"input_number.ledspeed","data":"{\"value\":\"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":650,"y":820,"wires":[[]]},{"id":"78b2a22a.4c5bec","type":"api-call-service","z":"78dacb5a.4301e4","name":"intensity","server":"a78319c4.566888","version":"1","service_domain":"input_number","service":"set_value","entityId":"input_number.ledintensity","data":"{\"value\":\"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":660,"y":880,"wires":[[]]},{"id":"90c09b1d.017cf8","type":"template","z":"78dacb5a.4301e4","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL={{payload}}","output":"str","x":277,"y":286,"wires":[["2f57249a.d8491c","1c258770.726729"]]},{"id":"2f57249a.d8491c","type":"debug","z":"78dacb5a.4301e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":260,"wires":[]},{"id":"998042b7.50ac9","type":"inject","z":"78dacb5a.4301e4","name":"","topic":"","payload":"4","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":300,"wires":[["90c09b1d.017cf8"]]},{"id":"4f528235.2cf2fc","type":"inject","z":"78dacb5a.4301e4","name":"","topic":"","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":340,"wires":[["90c09b1d.017cf8"]]},{"id":"4d369c14.b81544","type":"server-state-changed","z":"78dacb5a.4301e4","name":"","server":"a78319c4.566888","version":1,"entityidfilter":"input_boolean.preset_1","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":170,"y":400,"wires":[["2f57249a.d8491c","de1739c8.40cdb8"]]},{"id":"358ef20d.6cda5e","type":"server-state-changed","z":"78dacb5a.4301e4","name":"","server":"a78319c4.566888","version":1,"entityidfilter":"input_boolean.preset_2","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":170,"y":460,"wires":[["f3514ace.c18f28"]]},{"id":"de1739c8.40cdb8","type":"template","z":"78dacb5a.4301e4","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL=1","output":"str","x":410,"y":400,"wires":[["1c258770.726729","2f57249a.d8491c"]]},{"id":"f3514ace.c18f28","type":"template","z":"78dacb5a.4301e4","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL=2","output":"str","x":410,"y":460,"wires":[["1c258770.726729","2f57249a.d8491c"]]},{"id":"f540b988.090a18","type":"server-state-changed","z":"78dacb5a.4301e4","name":"","server":"a78319c4.566888","version":1,"entityidfilter":"input_boolean.preset_3","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":170,"y":520,"wires":[["100d762.29f0c8a"]]},{"id":"a1fd4d65.e8ea1","type":"server-state-changed","z":"78dacb5a.4301e4","name":"","server":"a78319c4.566888","version":1,"entityidfilter":"input_boolean.preset_4","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":170,"y":580,"wires":[["9edea27.b57ce6"]]},{"id":"100d762.29f0c8a","type":"template","z":"78dacb5a.4301e4","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL=3","output":"str","x":410,"y":520,"wires":[["1c258770.726729"]]},{"id":"9edea27.b57ce6","type":"template","z":"78dacb5a.4301e4","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL=4","output":"str","x":410,"y":580,"wires":[["1c258770.726729"]]},{"id":"a78319c4.566888","type":"server","z":"","name":"Home Assistant"},{"id":"48e274c.1606f8c","type":"mqtt-broker","z":"","name":"hassio mqtt","broker":"192.168.0.200","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
